.dashboard-div {
  background-image: url("../images/student.jpg");
  background-size: cover;
  height: 90vh;

  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
}

.background-blur {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
}

.dashboard-display {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.dashboard-display > div {
  margin-top: 30px;
  margin-left: 1px;
  box-shadow: 0px 0px 9px 4px gray;
  background-color: white;
}

.heading {
  text-align: center;
}

.company-display {
  background-color: white !important;
  z-index: 5;
}
