.student-form-div {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/student.jpg");
  background-size: cover;
}

#student-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.student-from {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  /* height: 57vw; */
  box-shadow: 0px 0px 1px 1px black;
  background-color: white;
}

.student-from > h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 30px;
  margin-top: 20px;
}

.student-from form {
  padding: 25px;
  font-size: 15px;
  font-weight: 500;
}
